<!-- import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Select;
import org.apache.ibatis.annotations.Insert;

@Mapper
public interface UserMapper {

    @Select("SELECT * FROM user WHERE email = #{email}")
    User findByEmail(String email);

    @Insert("INSERT INTO user (email, password) VALUES (#{email}, #{password})")
    int insert(User user);
} -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blws.BlwsMarket.mapper.UserMapper">
    <insert id="saveUser" parameterType="com.blws.BlwsMarket.vo.UserVO">
        <!-- INSERT INTO TB_USER
        (USER_ID, USER_PW, USER_NAME, USER_AUTH, APPEND_DATE, UPDATE_DATE)
        VALUES(#{userId},#{userPw},#{userName},#{userAuth},#{appendDate},#{updateDate}); -->
        INSERT INTO MEMBER_TB
        (USER_ID, USER_NAME, USER_EMAIL, USER_JOIN_DT, USER_PWD, USER_AUTH, USER_PREFER_REGION)
        VALUES(#{userId},#{userName},#{userEmail},#{userJoinDt},#{userPwd},#{userAuth},#{userPreferRegion});
    </insert>
</mapper>